{% extends 'base.html' %}

{% block app %}

<div id="intro">
<div id="xBox">
<div class="parag">
<h1 id="status">About</h1>
<p>We've noticed that finding a good product or excellent services is like finding a needle in a haystack. You to search the web, read blogs, ask friends, scour directories and then call everywhere.</p>
<p>It's also very difficult to sell these days, there's just so much noise out there. There are many companies out there looking for solutions that exist but that they can't find.</p>
<p>We think this is all a very inefficient process of matching supply and demand. With unprob, more matches will be made, more problems will be solved and businesses all over the world will run more smoothly.</p>
<p>We use Machine Learning and Web Crawling to automatically bring you the best results and prices for any problem you have. We still use our own brains a lot as well to ensure good results.
</p>
<p>If you want to contact us, you can call +1 514 889 1173, send us an email to team - at - unprob.com or ping us on twitter at <a href="http://twitter.com/unprob">@unprob</p>
</div>
</div>




{% endblock %}