{% extends 'base.html' %}

{% block app %}

<div id="intro">
<h1>Team</h1>
</div>
<div class="parag">
<table id="contact">
	<tr>
		<td>Riku Seppälä</td><td>I solve business problems</td><td>team - at - unprob.com</td><td>+1 514 889 1173</td>
	</tr>
	<td>Alex Daskalov</td><td>I solve tech problems </td><td>team - at - unprob.com</td><td></td>
</tr>
	</tr>
	<td>Dom Couture-Savoie</td><td>I compete with Alex in solving tech problems </td><td>team - at - unprob.com</td><td></td>
</tr>
</div>



{% endblock %}